body {
	font-family: Avenir, sans-serif;
}

.top-header {
	text-align: center;
}

.about-me {
	float: left;
	width: 50%;
}

.section-title {
	font-size: 18px;
	color: #4e2a84;
}

.section-info {
	font-size: 18px;
}

.picture-self {
	width: 25%;
}

.additional-info {
	float: left;
}