body {
	font-family: Avenir, sans-serif;
}

.about-me {
	float: left;
	width: 50%;
}

.section-title {
	font-size: 18px;
	color: #622da3;
}

.section-info {
	font-size: 18px;
}

.picture-self {
	width: 200px;
}

.additional-info {
	float: left;
}